absl-py==0.6.1
astor==0.7.1
decorator==4.3.0
gast==0.2.0
grpcio==1.16.1
h5py==2.8.0
imageio==2.5.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
moviepy==1.0.0.0
numpy==1.16.2
opencv-contrib-python==4.0.0.21
protobuf==3.6.1
PyYAML==5.1
scipy==1.2.0
six==1.11.0
tabulate==0.8.3
tensorboard==1.13.1
tensorflow==1.13.1
termcolor==1.1.0
tqdm==4.28.1
